name: Deploy to Server

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1) 코드 가져오기
      - name: Checkout
        uses: actions/checkout@v3

      # 2) SSH로 서버 접속해서 명령 실행
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          script: |
            echo "===== Deploy Start ====="
            ls -al
            pwd
            echo "===== Deploy Complete ====="
